body {
  font-family: "Helvetica", "Arial", "Sans-Serif";
  font-size: 17px;
  line-height: 1.6;
  background-color: #d9d872;
  margin: 0;
}

.showcase {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("img/pexels-photo-2682103.jpeg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  height: 100vh;
  display: flex;
  color: white;
  flex-direction: column;
  vertical-align: super;
  align-items: center;
  justify-content: center;
  padding: 0 50px;
}
